$white: #FFF;
$black: #000;
$background: #F2F2F2;
$primary: #1f1f1f;
$primaryDark: #181818;
$primaryLight: #BC477B;
$disabledBackground: #CCC;
$disabledColor: #666;
$valid: #4CAF50;
$invalid: #EF5350;